body {
  background-color: $main-background-color;
  color: $font-color;
}

.hidden {
  display: none;
}

.link-button {
     background:none!important;
     color:inherit;
     border:none;
     padding:0!important;
     font: inherit;
     text-decoration: underline;
     cursor: pointer;
}
