body {
  background-color: $main-background-color;
  color: $font-color;
}

.hidden {
  display: none;
}

.inline {
  display: inline;
}

.strikethrough {
  text-decoration: line-through;
}

.bare-button {
  border: none;
  background: none;
}
//
// .auth {
//   width: 80%;
// }
