body {
  background-color: $main-background-color;
  color: $font-color;
}

.hidden {
  display: none;
}

.inline {
  display: inline;
}

.strikethrough {
  text-decoration: line-through;
}

.bare-button {
  border: none;
  background: none;
}

.footer-link {
  color: #9a9da0;
}

.footer-link:hover {
  color: #9a9da0;
}

footer {
    position: fixed;
    height: 32px;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #343a40;
    color: #9a9da0;
    text-align: right;
}
